.addons{
    display: flex;
    padding: 20px 0;
}

.addons ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.addons ul li{
    display: flex;
    justify-content: space-between;
    height: 80px;
    border: 1px solid var(--title);
    padding: 10px;
    align-items: center;
    border-radius: 8px;
}

.add-cont{
    display: flex;
    gap: 20px;
    align-items: center;
}
.add-name p{
    color: var(--title);
}
.add-name span{
    color: var(--grey);
    font-weight: normal;
}
.add-price{
    color: var(--title);
}

.add-check{
    width: 20px;
    height: 20px;
    border-color: var(--grey);
    font-weight: normal;
}
