
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  align-self: center;
  /* position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%; */
  flex-wrap: wrap;
}

.content{
  display: flex;
  border-radius: 20px;
  padding: 20px;
  max-width: 920px;
  position: relative;
    
}

.content img{
  display: none;
}
@media (max-width : 768px) {
  .content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100vw;
    background-color: var(--bgcolor);
    height: 100vh;
    border-radius: 0 !important;
  }
  .content img{
    display: flex !important;
    position: absolute !important ;
    top: 0;
    /* z-index: 0; */
    width: 100%;
}
}