.cards-items{
    display: flex;
    list-style: none;
    gap: 20px;

}
.cards-items li{
    border: 1px solid var(--bgcolor);
    padding: 10px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 120px;
    border-radius: 8px;
    cursor: pointer;
    
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card-price{
    color: var(--grey);
    font-size: var(--fz16);
}
.cards-items li .img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    position: static !important;
}

.switch-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    gap: 20px;
    background-color: var(--bgcolor);
    padding: 10px;
}

.switch{
    width: 50px;
    background-color: var(--title);
    height: 24px;
    border-radius: 20px;
    position: relative;
}
.toggler{
    transition: all 0.4s ease;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--white);
    border-radius: 50%;
    top: 4px;
    left: 5px;
    transform: translate(0);
}
.toggler-active{
    transform: translate(24px);
}

@media (max-width : 768px) {
    .cards-items{
        flex-direction: column;
        gap: 5px;
    }
    .cards-items li{
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
    }
}