.finish{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fn-container{
    background-color: var(--bgcolor);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}
.finish-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.finish-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.finish-title span{
    cursor: pointer;
    border-bottom: 1px solid black;
    width: max-content;
}
.finish-add-cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.finish-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hr{
    background-color: var(--grey);
    width: 100%;   
    height: 2px;
}

.total-price{
    display: flex;
    justify-content: space-between;
}