.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-name, .form-email, .form-phone{
    display: flex;
    flex-direction: column;
}
.form .name, .form .email, .form .phone{
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--grey);
    padding-left: 10px;
}
.form-email label,
.form-name label,
.form-phone label{
    margin-bottom: 10px;
    color: var(--title);
    font-size: var(--fz16);
} 

@media (max-width : 768px) {
    
}