*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

:root{
  --title: #022142;
  --subt: #c5d4e3;
  --grey: #6b6d6e;
  --white: #ffffff;
  --bgcolor: #acc8e6;
  --bold: bold;
  --bolder: bolder;
  --fz32: 32px;
  --fz16: 16px;

}