.outer{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center ;
    width: 100%;
    flex: 4;
    padding: 20px 40px;
}
.outer .head .title{
    margin-bottom: 10px;
    font-size: var(--fz32);
    color: var(--title);
}
.outer .head .sub-title{
    color: var(--grey);
}
.head{
    margin-bottom: 40px;
}

@media (max-width : 768px) {
    .outer{
      /* position: absolute; */
      flex: none;
      width: 100%;
      min-height: 360px;
      padding: 10px;
    }
    .head{
        margin-bottom: 15px;
    }
}