.right{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.btn-group{
    display: flex;
    width: 100%;
    justify-content: space-between ;
    position: relative;
}
.btn-back{
    width: 100px;
    border: none;
    background-color: transparent;
    color: var(--grey);
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}
.btn-next{
    position: absolute;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: var(--title);
    color: var(--white);
    font-size: 16px;
    padding: 5px;
    height: 40px;
    align-self: flex-end;
    right: 0;
    cursor: pointer;
}

.btn-conf{
    position: absolute;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: var(--title);
    color: var(--white);
    font-size: 16px;
    padding: 5px;
    height: 40px;
    align-self: flex-end;
    right: 0;
    cursor: pointer;
}

@media (max-width : 768px) {
    .right{
        width: 90%;
        min-height: 460px;
        position: absolute;
        top: 150px;
        /* left: 50%; */
        /* transform: translate(-50%, -50%); */
        /* border: 1px solid black; */
        background-color: white;
        border-radius: 20px;
        padding: 10px;
    }
    .btn-group{
        /* position: absolute; */
        /* bottom: 0; */
    }
}