.sidebar{
    background: url(../assets/images/bg-sidebar-desktop.svg) no-repeat;
    object-fit: contain;
    /* min-width: 768px; */
    min-height: 500px;
    border-radius: 20px;
    padding: 40px;
    /* width: max-content; */
    flex: 1;
}
.side-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 200px;
}
.side-list li{
    display: flex;
    gap: 20px;
    align-items: center;    
}
.side-list li span{
    color: var(--white);
}
.side-list .number{
    border: 1px solid var(--white);
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.active{
    background-color: var(--bgcolor);
    color: var(--title) !important;
    border: none !important;
}
.side-list li p {
    color: var(--bgcolor);
}
.side-list desc p{
    margin-bottom: 5px;
}

@media (max-width : 768px) {
    .sidebar{
        /* background: url(../assets/images/bg-sidebar-mobile.svg) no-repeat ; */
        width: 100% !important;
        min-height: 0;
        border-radius: none !important;
        position: absolute;
        top: 50px;
        left: 0;
        flex: none;
        object-fit: contain;
        background: none;
        padding: 0;
        
    }
    .side-list{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
        z-index: 1;
        padding: 10px;

    }
    .desc{
        display: none;
    }
    
}