.thank{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
.thank img{
    position: static !important;
}
.thank p{
    text-align: center;
    max-width: 360px;
}
@media (max-width : 768px) {
    .thank img{
        width: 100px;
    }
    .thank p{
        width: 100%;
    }
}